

h1{
text-align:center;
font-size:100px;
color:black;
margin-top:0px;
margin-bottom:0px;
}
h2{
text-align:center;
font-size:75px;
color:black;
margin-top:0px;
margin-bottom:0px;
}

#friendslist{
display:none;
display:none;
width: 300px;
height:50px;
color:black;
}

#addfriend{
display:none;
display:none;
width: 300px;
height:50px;
color:black;
}

#leadertable{
display:none;
text-align:center;
}

#leaderboard{
display:none;
}

#addfriend{
display:none;
}
.textcenter{
  text-align:center;
}
#X{
display:none;
}

#O{
display:none;
}
#grid{
display:none;
margin-right:auto;
margin-left:auto;
margin-top:0px;
margin-bottom:10px;

}

.row{
width:650px;
margin-right:auto;
margin-left:auto;
}
/*#row1{
display:inline-block;
margin-right:auto;
margin-left:auto;
width:50%;
}
#row2{
display:block;
margin-right:auto;
margin-left:auto;
width:50%;
}
#row3{
display:block;
margin-right:auto;
margin-left:auto;
width:50%;
}*/

.box{
display:inline;
width:200px;
height:200px;
border-style:solid;
border-width:1px;	
float:left;
}

#signin{ 
margin: 0 auto; 
width:300px;
color:black;
}

#addFriendEmail{
display:none;
margin: 0 auto; 
width:250px;
color:black;
}

#submitAddFriend{
display:block;
margin:auto;
}

#submitbutton{
display:block;
margin:auto;
}

#buttons{
text-align:center;

}
.play{

display:none;
width: 300px;
height:50px;
color:black;
}

#home{

margin-top:10px;
margin-bottom:0px;
display:none;
width: 300px;
height:50px;
color:black;
}

a:link {color:white;}      /* unvisited link */
a:visited {color:white;}  /* visited link */
a:hover {color:white;}  /* mouse over link */
a:active {color:white;}  /* selected link */
